table#circular{
	width:100%;
}

table#circular>tbody>tr>td>input[type="text"], 
table#circular>tbody>tr>td>select,
table#circular>tbody>tr>td>textarea{
	width:100%;
}

#circular > tbody > tr:nth-child(1) > td:nth-child(1),
#circular > tbody > tr:nth-child(3) > td:nth-child(1){
	width:90px !important;
	word-wrap:break-word;
}

.ql-editor>h0, .ql-editor>h1, .ql-editor>h1, 
.ql-editor>h2, .ql-editor>h3, .ql-editor>h4, 
.ql-editor>h5, .ql-editor>h6, .ql-editor>legend{
	all: initial;
    all: unset;
}

.ql-toolbar{
	background:white;
}

#editor{
	height:400px;
	background:white;
	color:black;
	text-shadow:none;
}

.status_0{
	content:url(../../images/online.png);
}

.status_1{
	content:url(../../images/offline.png);
}

table#circular_list > tbody > tr > td:nth-child(1){
	width:10px;
}

table#circular_admin_list>thead>tr>th{
	background:black;
	color:white;
}

table#circular_admin_list{
	border:1px solid black;
}

table#circular_admin_list>tbody>tr>td{
	border:1px solid gray;
}